extends layout

block content
  h1= title
  ul
    li
      a(href="link") Iron Man 3
    li
      a(href="link") Captain America
    li
      a(href="link") Halo
    li
      a(href="link") Drive
    li
      a(href="link") 500 days of summer
    li
      a(href="link") Independence day

