extends layout

block content
  h1= title
  ul
    li

      a(href="link")
        img(src="images/thumbs/04/wolverine.jpg")
        <span>Iron Man 3</span>
    li
      a(href="link")
        img(src="images/thumbs/04/place-beyond-pines.jpg")
        <span>Captain America</span>
    li
      a(href="link")
        img(src="images/thumbs/04/man-of-steel.jpg")
        <span>Halo</span>
    li
      a(href="link")
        img(src="images/thumbs/04/wolverine.jpg")
        <span>Drive</span>
    li
      a(href="link")
        img(src="images/thumbs/04/place-beyond-pines.jpg")
        <span>500 days of summer</span>
    li
      a(href="link")
        img(src="images/thumbs/04/man-of-steel.jpg")
        <span>Independence day</span>

