body {
  padding: 50px;
  font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 20px;
}